<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/styles.css' />
    <title>Forgot password</title>
  </head>
  <body>
    <div class='section'>
      <h1 class='title'>{{title}}</h1>
      <form class='form' action='{{userId/token}}' method='POST'>
        <div class='form-input'>
          <input
            class='email'
            type='text'
            id='email'
            name='email'
            placeholder='Enter your email here...'
          />
        </div>
        <button class='button' type='submit'>Forgot Password</button>
      </form>
    </div>
  </body>
</html>